spring:
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  liquibase:
    enabled: true
    contexts: dev

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

logging:
  level:
    com.muralia: DEBUG
    org.hibernate.SQL: DEBUG
    org.testcontainers: INFO
    liquibase: DEBUG
